:root {
  --a-color: #5364b7;
  --b-color: #fbff07;
  --c-color: #062e89;
  --d-color: #1a1818;
  --e-color: #eb4242;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  height: 100vh;
  background-color: var(--c-color);
}

.clock {
  background-color: var(--d-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1.5rem;
  align-items: center;
  box-shadow: 0 0 0.5rem 0.2rem var(--b-color);
}

.clock__item {
  width: 10rem;
  background-color: var(--e-color);
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 100% 0% 100% 0% / 30% 70% 30% 70%;
  text-align: center;
}

.clock__item__time {
  color: var(--b-color);
  font-size: 3rem;
  font-weight: bold;
}

.clock__item__text {
  color: var(--d-color);
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

.clock__item--session {
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  color: var(--e-color);
  text-align: center;
  background-color: var(--a-color);
  border-radius: 50%;
}
