:root {
  --a-color: #2b6777;
  --b-color: #c8d8e4;
  --c-color: #ffe608;
  --d-color: #2d2929;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
  background-color: var(--a-color);
  overflow: hidden;
}

#navbar {
  background-color: var(--d-color);
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.title {
  color: var(--c-color);
  font-size: 2.6rem;
  letter-spacing: 0.4rem;
  text-shadow: 0.2rem 0, 3rem var(--b-color);
}

.wrapper {
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2.85rem 0;
  background-color: var(--b-color);
  border-radius: 1rem;
}

#input-textarea {
  max-width: 100%;
  resize: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

#input-textarea:focus {
  border: 0.3rem solid var(--b-color);
}

.counter-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.counter-section div {
  text-align: center;
  padding: 0.5rem;
}

.counter-section div h4 {
  color: var(--d-color);
  font-size: 2.4rem;
}

.counter-section p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--a-color);
  letter-spacing: 0.3rem;
}

@media screen and (max-width: 745px) {
  .title {
    font-size: 1.3rem;
  }
  .counter-section p {
    font-size: 1rem;
  }
}
